@import '../../utils/_variables';

.nav {
    display: flex;
    justify-content: space-between;
}

.themeSwitch {
    display: flex;
    flex-direction: row;
    align-items: center;

    .form-switch .form-check-input {
        background-image: url('../../assets/symbols/switch_ellipse.svg');
        width: 4em;
        height: 2em;
        margin-top: 0;
        &:checked {
            background-color: transparent;
            filter: brightness(0) invert(1);
        }
        &:focus {
            box-shadow: none;
        }
    }
    
    img {
        width: 30px;
        height: 30px;
    }

    .sun {
        margin-right: 8px;
    }

    .moon {
        margin-left: 8px;
    }
}

@media #{$mobile} {
    .themeSwitch {
        .form-switch {
            padding-left: 0;
            .form-check-input {
                width: 2.3em;
                height: 1.3em;
                margin: 0.25em;
            }
        }

        .sun, .moon {
            width: 60px;
            height: 60px;
        }

    }
}