@import '../../utils/_variables';

.contactCard {
    display: flex;
    background-color: $dark-card;
    justify-content: center;
    margin-top: 30vh;
    padding: 24px;
    .underline-word{
        flex-direction: column;
        &::after {
        width: calc(20% - 0.6em);
    }
    }
}

.social-media-links {
    display: flex;
    flex-wrap: wrap;
}

.social {
    margin-right: $card-spacing-2;
    display: flex;
    align-items: flex-end;
    h4 {
        font-size: 1.2rem;
        margin: 0;
    }
}

.contactInfo {
    img {
        width: 24px;
        height: 24px;
    }
}

.contactSocial {
    display: flex;
    align-items: flex-end;
    color: $links;
    h4 {
        margin: 0 16px;
    }
}

@media #{$mobile} {
    .contactCard {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 48px;
    }

    .contactInfo {
        img {
            width: 60px;
            height: 60px;
        }
    }

    .contactHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
    }

    .social-media-links {
        display: flex;
        flex-direction: column;
    }

    .contactSocial {
        display: flex;
        align-items: center;
        margin: 26px;
        h4 {
            color: $links;
        }
    }

}