@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

//* Font
$main-font: 'Lato', sans-serif;
$links: #00baa4;

//* light theme colors
$light-background: #f5f5f7;
$light-background-blur: #f5f5f7cc;
$light-primary: #004c93;
$light-card: #ffffff;

//* dark theme colors
$dark-background: #002547;
$dark-background-blur: #002547cc;
$dark-primary: #e6ebf0;
$dark-card: #023869;

//* scrollbar

$scrollbar-white: #f5f5f7;
$scrollbar-blue: #002547cc;
$dark-thumb-background: #002547;
$dark-thumb: #0f3558;
$light-thumb-background: #e6ebf0;
$light-thumb-: #e6ebf0;

//* Spacing
$card-spacing-1: 24px;
$card-spacing-2: 16px;
$card-spacing-3: 4px;

//* sizes format
$tablet: "(min-width: 1024px) and (max-width: 1366px)";
$mobile: "(min-width: 360px) and (max-width: 1023px)";