@import "bootstrap";
@import "./utils/_variables";
@import './utils/dark-theme.scss';
@import './utils/default-theme.scss';

h2 {
    font-weight: 300;
}

h4 {
    font-weight: 400;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.nonMobile {
    display: flex;
}

.mobile {
    display: none;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    padding: 24px;
    a {
        text-decoration: none;
    }
}

.header {
    a,
    button {
        color: $dark-primary;
    }
}

.card-template {
    display: flex;
    max-width: 60%;
    margin: auto;
    padding: $card-spacing-1;
    border-radius: 18px;
    background: $dark-card;
    position: relative;
    top: 93px;
    line-height: 24px;
}

.mobileHeader {
    display: none;
}

.links {
    color: $links;
}

.route-container {
    height: 100%;
}

.whiteFilter {
    filter: brightness(0) invert(1);
}

.underline-word::after {
    display: flex;
    content: "";
    position: relative;
    bottom: -2px;
    left: 0;
    height: 0.5px;
    background-color: $dark-primary;
}

@media #{$mobile} {
    .nonMobile {
        display: none;
    }

    .mobile {
        display: flex;
    }

    h2,
    h3,
    h4 {
        font-size: 3rem;
        margin: 28px;
    }

    a {
        color: $dark-primary;
    }

    .App {
        width: 100vw;
        height: 100vh;
        font-size: 16px;
        font-weight: 400;
    }

    .header {
        display: none;
    }

    .mobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            position: absolute;
            right: 0;
            width: 48px;
            height: 48px;
            margin: 24px;
        }
        h2 {
            font-size: 4rem;
            font-weight: 400;
        }
    }

    .nonMobileMenu {
        display: none;
        img {
            filter: brightness(0) invert(1);
        }
    }

    .card-template {
        z-index: 2;
        background: $dark-card;
        max-width: 100%;
        height: 90%;
        position: relative;
        top: 93px;
        line-height: 24px;
        padding: 35px;
    }

    .cardHeader {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        h2 {
            margin-left: 24px;
            font-size: 3.7rem;
            width: 50%;
        }
    }

    .cardInfo {
        margin: 0 16px;
    }
    
    .underline-word::after {
        width: 100%;
    }
}
