@import "../../utils/_variables";

.aboutMe {
    padding: $card-spacing-1;
    .underline-word{
        flex-direction: column;
    }
}

.cardHeader {
    display: flex;
}

.socialLinks {
    display: flex;
    justify-content: flex-end;
    img {
        margin: 16px;
    }
}

.cardInfo {
    width: 100%;
    margin-left: 24px;
    .title {
        display: flex;
    }
    p {
        font-size: 1.5rem;
        line-height: 40px;
    }
    h2 {
        font-size: 1.5rem;
    }
}

.portfolioLink {
    color: $links;
}

@media #{$mobile} {
    .aboutMe {
        display: flex;
        flex-direction: column;
        h2 {
            padding-bottom: 16px;
            margin-bottom: 0 !important;
            font-size: 3rem !important;
            margin-left: 0 !important;
        }
    }

    .headerTitle {
        display: flex;
        flex-direction: column;
        margin-left: $card-spacing-2;
        h2 {
            width: 100% !important;
            margin: 0;
            padding: 0;
            line-height: 1.2;
        }
    }

    .socialLinks {
        display: flex;
        position: absolute;
        right: 30%;
        bottom: 24px;
        justify-content: center;
        align-items: center;
        img {
            width: 60px;
            height: 60px;
        }
        :nth-child(2) {
            margin: 0 44px;
        }
    }

    .cardHeader {
        width: 100% !important;
        max-width: 100%;
        margin-bottom: 48px !important;
    }

    .cardInfo {
        p {
            font-size: 3rem;
            line-height: 1.5;
            margin-bottom: 0 !important;
        }
    }

}
