@import '../../utils//_variables';

.portfolio {
    margin: auto 0;
}

.picture-gallery {
    display: flex;
    overflow-x: scroll;
    img {
        margin: 230px 16px;
        height: 400px;
    }

    &::-webkit-scrollbar {
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 50px;
        outline: 2px solid;
        outline-offset: 2px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        border: 3px solid;
    }
}
